POSTGRES_USER=hospital_user
POSTGRES_PASSWORD=replace_with_strong_postgres_password
POSTGRES_DB=hospital_db

SECRET_KEY=replace_with_random_flask_secret_key
SESSION_COOKIE_SECURE=false
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH='replace_with_werkzeug_admin_password_hash'
USER_USERNAME=doctor
USER_PASSWORD_HASH='replace_with_werkzeug_doctor_password_hash'

MINIO_ROOT_USER=hospital_minio_admin
MINIO_ROOT_PASSWORD=replace_with_strong_minio_password
MINIO_REGION=us-east-1
MINIO_BUCKET_NAME=hospital-data
MINIO_AUTO_CREATE_BUCKET=true
MINIO_CONSOLE_URL=http://localhost:9001

PIPELINE_INPUT_PATH=/data/incoming/radiology_studies.csv
PIPELINE_OUTPUT_PATH=/data/processed/radiology_clean

TRAINING_EPOCHS=5
TRAINING_BATCH_SIZE=16
TRAINING_LEARNING_RATE=0.0005
TRAINING_PRETRAINED=false
