POSTGRES_USER=hospital_user
POSTGRES_PASSWORD=change_me_postgres_password
POSTGRES_DB=hospital_db

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me_minio_password
MINIO_REGION=us-east-1
MINIO_BUCKET_NAME=hospital-data
MINIO_AUTO_CREATE_BUCKET=true
MINIO_CONSOLE_URL=http://localhost:9001
