POSTGRES_USER=hospital_user
POSTGRES_PASSWORD=replace_with_strong_postgres_password
POSTGRES_DB=hospital_db

SECRET_KEY=replace_with_random_flask_secret_key
SESSION_COOKIE_SECURE=false
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH='scrypt:32768:8:1$IFdH1JUCPprL0idT$e7ce804f1c4fd8f53132382105dccee3a147e3ad2735ad3ad98c13da342dadad89219692782535de19c118b5b551770b9dc3ead07f51e5e2ca626335bad15205' #Hospital2026!
USER_USERNAME=doctor
USER_PASSWORD_HASH='scrypt:32768:8:1$4Am9OGfyczYkg4vm$60d9223703a2a0860d3cd16da783c8b66f8cc73e91d5ffeb93473ddce5e43f0a9a3063a3b16bd258e5b642010a74ff6ab44da6bed9967cbc5f55d9c2b61d2f95' #Doctor2026!

MINIO_ROOT_USER=hospital_minio_admin
MINIO_ROOT_PASSWORD=replace_with_strong_minio_password
MINIO_REGION=us-east-1
MINIO_BUCKET_NAME=hospital-data
MINIO_AUTO_CREATE_BUCKET=true
MINIO_CONSOLE_URL=http://localhost:9001

PIPELINE_INPUT_PATH=/data/incoming/radiology_studies.csv
PIPELINE_OUTPUT_PATH=/data/processed/radiology_clean

TRAINING_EPOCHS=5
TRAINING_BATCH_SIZE=16
TRAINING_LEARNING_RATE=0.0005
TRAINING_PRETRAINED=false
